@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}



*{
    margin:0px;
    padding:0px;
}



nav {
    background-color:#234a5c;
}

.color-icon{
    color: white;

}

.barra{
    background-color:#123231 ;
    width: 200px;
}


#color-titulo{
    font-size: 40px;
    color:white;
}

.nav-titulo{
    font-size: 40px;
}

.text-nav{
    color:white;
    font-size: 1.5em;
}

.nombre{
    font-size: 4em;
    font-style: italic;
}

.ingeniero{
    font-size: 1.5em;
    font-family: Muli;
}

#letracontancto{
    font-size: 1.5em;
}


.linea{
    height: 2px;
    width: 100%;
    background-color:#5790b0  ;
}


.barra{
    width: 100%;
    height: 80px;
 background-color:#234a5c;
    
}


contorno:hover{ 
    background-color:#d6dacf;
    box-shadow: 6px 6px 6px black ;    
}

.habilidades{ 
    box-shadow: 6px 6px 6px black ;    
}

.piedepagina{
    background-color:#234a5c;
}


.btn{
    background-color: #234a5c;
}

